<link rel="stylesheet" href="/css/header.css">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
        <a href="/" class="navbar-brand">
            Placement Cell
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="/student/add" class="nav-link">Student</a>
                </li>
                <li class="nav-item">
                    <a href="/interview/add" class="nav-link">Interview</a>
                </li>
                <li class="nav-item">
                    <a href="/downloadCsv" class="nav-link">Download</a>
                </li>
            </ul>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        <% if(!locals.user) { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/login">Login</a>
                            </li>
                        <% } else { %>
                            <li class="nav-item pt-2">
                                <i class="fa fa-user text-white" aria-hidden="true"></i>
                                <p class="text-white bg-dark m-auto d-inline-block"><%= user.name %></p>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/user/logout">Logout</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
        </div>
    </div>
</nav>