<link rel="stylesheet" href="/css/home.css">

<div class="row">
    <div class="col-4 offset-sm-4">
        <%- include('./partials/messages'); %>
    </div>
</div>

<div class="container square-box d-flex flex-column justify-content-center align-items-center">
    <h1 class="text-center heading">
        Coding Ninjas Career Camp - Placement Cell
    </h1>
    <div class="desc">Student Placement Management System</div>
</div>